@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

    /* Light Theme */

    --color-primary: #7380EC;
    --color-danger: #FF7782;
    --color-success: #41f1b6;
    --color-attention: #FFBB55;
    --color-card:#FFF;
    --color-info-dark:#7D8DA1;
    --color-info-light:#DCE1EB;
    --color-dark: #363949;
    --color-light: #848BC82E;
    --color-primary-2:#111E88;
    --color-dark-2:#677483;
    --color-background: #F6F6F9;

    --card-border: 2rem;
    --border-1:0.4rem;
    --border-2:0.8rem;
    --border-3:1.2rem;
    --card-padding: 1.8rem;
    --padding1: 1.2rem;
    --shadow: 0 2rem 3rem var(--color-light)

}

    /* Dark Theme */

    .dark-theme{
        --color-background: #181A1E;
        --color-card:#202528;
        --color-dark: #EDEFFD;
        --color-dark-2:#A3BDCC;
        --color-light: #00000066;
        --shadow: 0 2rem 3rem var(--color-light)
    }

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-picture {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.subtitles{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-2);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.attention{
    color: var(--color-attention);
}

aside{
    height: 100vh;

}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .span{
    width:2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

/* Sidebar */

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500px;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;  
}

aside .sidebar a.active{
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .cont-msg{
    background-color: var(--color-danger);
    color:var(--color-card) ;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-1);
}

/* Main */

main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background-color: var(--color-light);
    border-radius: var(--border-1);
    margin-top: 1rem;
    padding:  0.5rem 1.6rem;
}

main .date input[type='date']{
    background: transparent;
    color: var(--color-dark);
}

main .reports{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .reports > div{
    background-color: var(--color-card);
    padding: var(--card-padding);
    border-radius: var(--card-border);
    margin-top: 1.3rem;
    box-shadow: var(--shadow);
    transition: all 300ms ease;
}

main .reports > div:hover{
    box-shadow: none;
}

main .reports > div span{
    background-color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-card);
    font-size: 2rem;
}

main .reports > div.spent span{
    background-color: var(--color-danger);

}

main .reports > div.revenue span{
    background-color: var(--color-success);

}

main .reports > div .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .reports h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .reports .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .reports svg{
    width: 7rem;
    height: 7rem;
}

main .reports svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width:14;
    stroke-linecap:round;
    transform: translate(5px, 5px);
}

main .reports .sales svg circle{
    stroke-dasharray: 200;
    stroke-dashoffset: -55;
}

main .reports .spent svg circle{
    stroke-dasharray: 80;
    stroke-dashoffset: 20;
}

main .reports .revenue svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: 35;
}

main .reports .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .reports small{
    margin-top: 1.3rem;
    display: block;
}

/* Orders */

main .last-orders{
    margin-top: 2rem;   
}

main .last-orders table{
    background-color: var(--color-card);
    width: 100%;
    border-radius: var(--card-border);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--shadow);
    transition: all 300ms ease;
}

main .last-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
}

main table tbody tr:last-child td{
    border: none;
}

main .last-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* Right */

.right{
    margin-top: 1.4rem;
}

.right .header{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .header button{
    display: none;
}

.right .change-theme{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-1);
}

.right .change-theme span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .change-theme span.active{
    background-color: var(--color-primary);
    color: var(--color-card);
    border-radius: var(--border-1);
}

.right .recent-updates{
    margin-top: 1rem;

}

.right .recent-updates h2{
    margin-bottom: 1.3rem;
}

.right .recent-updates .updates{
    background-color: var(--color-card);
    padding: var(--card-padding);
    border-radius: var(--card-border);
    box-shadow: var(--shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .sales-analysis{
    margin-top: 2rem;
}

.right .sales-analysis h2{
    margin-bottom: 0.8rem;
}

.right .sales-analysis .item{
    background-color: var(--color-card);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-3);
    box-shadow: var(--shadow);
    transition: all 300ms ease;
}

.right .sales-analysis .item:hover{
    box-shadow: none;
}

.right .sales-analysis .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analysis .item .icon{
    padding: 0.6rem;
    color: var(--color-card);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
}

.right .sales-analysis .item.offline .icon{
    background-color: var(--color-danger);
}

.right .sales-analysis .item.client .icon{
    background-color: var(--color-success);
}

.right .sales-analysis .add-product{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sales-analysis .add-product:hover{
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

.right .sales-analysis .add-product div{
    display: flex;
    align-items:  center;
    gap: 0.6rem;
}

.right .sales-analysis .add-product div h3{
    font-weight: 600;
}

@media screen and (max-width:1450px) {

    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    
    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .reports{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .last-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .last-orders table{
        width: 83vw;
    }

    main table tbody tr td:last-child {
        display: none;
    }

    main table tbody tr td:first-child {
        display: none;
    }
    main table thead tr th:first-child{
        display: none;
    }
    }

/* Mobile */

    @media screen and (max-width:768px) {

    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
    position: fixed;
    left: -100%;
    background-color: var(--color-card);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
    }

    .profile-picture {
        margin-top: 13px;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute ;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .last-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .last-orders table{
        width: 100%;
        margin: 0;
    }
    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .header{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-card);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .header .change-theme{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }

    .right .header button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .header button span{
        font-size: 2rem;
    }

}